[Unit]
Description=<Description bot>
After=multi-user.target

[Service]
User=<username>
Type=idle
# Environment=DISPLAY=:0 # optional for selenium
WorkingDirectory=</home/bot_folder>
ExecStart=/home/<bot_folder>/venv/bin/python /home/<bot_folder>/main.py
Restart=always

[Install]
WantedBy=multi-user.target
